<h1>Edit Task</h1>

<%= form_for(@task) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class:"form-control" %>

    <%= f.label :details %>
    <%= f.text_area :details, class:"form-control" %>

    <%= f.label :completed %>
    <%= f.check_box :completed, class:"form-control" %>
  </div>

  <%= f.submit %>
<% end %>

<%= link_to tasks_path do %>
  <i class="fas fa-undo-alt"></i>
  Back to list
<% end %>
