<h1>New Task</h1>

<%= form_for(@task) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class:"form-control" %>

    <%= f.label :details %>
    <%= f.text_field :details, class:"form-control" %>
  </div>

  <%= f.submit %>
<% end %>

<div class="footer border-top mt-3">
  <%= link_to tasks_path do %>
    <i class="fas fa-undo-alt"></i>
    Back to list
  <% end %>
</div>
